// Body
$body-bg: #f8fafc;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$turquoise: hsl(171, 100%, 41%);


//Navbar
$navbar-tab-hover-border-bottom-color: $turquoise;
$navbar-item-hover-color: $turquoise;
$navbar-dropdown-item-hover-color: $turquoise;
$navbar-dropdown-arrow: $turquoise;
$navbar-item-img-max-height: 2.5rem;

//Menu
$menu-item-active-background-color: $turquoise;

//Footer
$footer-padding: 1rem 1.5rem 1rem;


